<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::baseHead('Register')"></head>

<body>

<header th:replace="base::baseNav"></header>

<div id="page-content" class="contact-page">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-9">
                <div class="box" th:if="not ${success}">
                    <center>
                        <div class="art-header">
                            <h1 class="center">Register</h1>
                            <span style="color: red" th:if="${resError}" th:text="${resError}"></span>
                        </div>
                    </center>
                    <div class="art-content">
                        <div id="contact_form">
                            <form name="form1" id="ff" method="post" th:action="@{/user/register}">
                                <label>
                                    <span>Enter your Nickname:</span>
                                    <input name="nickname" id="nickname" required="" type="text" th:value="${lastNickname}">
                                </label>
                                <label>
                                    <span>Enter your Username:</span>
                                    <input name="username" id="username" required="" type="text" th:value="${lastUsername}">
                                </label>
                                <label>
                                    <span>Enter your Password:</span>
                                    <input name="password" id="password" required="" type="password">
                                </label>
                                <label>
                                    <span>Enter your Repassword:</span>
                                    <input name="repassword" id="repassword" required="" type="password">
                                </label>
                                <label>
                                    <span>Enter your email:</span>
                                    <input name="email" id="email" required="" type="email"  th:value="${lastEmail}">
                                </label>
                                <center><input id="res-submit" class="sendButton" name="Submit" value="Submit"
                                               type="button"></center>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box" th:if="${success}">
                    <p style="text-align: center">
                        <a target="_blank" th:href="'http://'+${email}">请前往邮箱验证(如果找不到邮件请尝试检查垃圾邮件，或重新发送)</a>
                    </p>
                </div>
            </div>
            <div th:replace="base::sidebar"></div>
        </div>
    </div>
</div>

<footer th:replace="base::baseFooter"></footer>

<script src="/js/jsencrypt.js"></script>
<script>
    $(document).ready(function () {

        $("#res-submit").click(function () {
            var publicKey;
            $.post("/getPublicKey")
                .done(function (res) {
                    publicKey = res;
                    var encrypt = new JSEncrypt();
                    encrypt.setPublicKey(publicKey);
                    var encryptPwd = encrypt.encrypt($('#password').val());
                    var reencryptPwd = encrypt.encrypt($('#repassword').val());
//                    $.post("/user/login", {username: $('#username').val(), password: encryptPwd});
                    $("#password").val(encryptPwd);
                    $("#repassword").val(reencryptPwd);
                    $("#ff").submit();
                });

        });
    });
</script>

</body>
</html>